

<h1>USUARIO DE API: </h1>
<h2>Cedula buscar: {{cedulaConsulta}}</h2>
<div > <div *ngIf="usuario; else noUser">
    <h2>{{ usuario.nombre }}</h2>
    <p><strong>Cédula:</strong> {{ usuario.cedula }}</p>
    <p><strong>Ciudad:</strong> {{ usuario.ciudad }}</p>
    <p><strong>Fecha Creación:</strong> {{ usuario.created | date:'medium' }}</p>
    <img *ngIf="usuario.foto" [src]="usuario.foto" alt="Foto usuario" />
  </div>

  <ng-template #noUser>
    <p *ngIf="errorMnjs; else loading">{{ errorMnjs }}</p>
  </ng-template>

  <ng-template #loading>
    <p>Cargando datos...</p>
  </ng-template>
</div>