<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form action="" [formGroup]="formGroupRegistro" (ngSubmit)="guardarRegistro()">

        <!-- CEDULA -->
        <ion-item>
          <ion-input label="Digite la cedula" label-placement="floating" fill="solid" placeholder="Cedula de ciudadania"
            formControlName="cedula" [(ngModel)]="usuario.cedula"></ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="formGroupRegistro.get('cedula')?.invalid && formGroupRegistro.get('cedula')?.touched">
          <p *ngIf="formGroupRegistro.get('cedula')?.errors?.['required']" style="margin: 10px;">Cedula es requerida.
          </p>
          <p *ngIf="formGroupRegistro.get('cedula')?.errors?.['minlength']" style="margin: 10px;">La Cedula debe tener
            al menos 6 caracteres.</p>
          <p *ngIf="formGroupRegistro.get('cedula')?.errors?.['maxLength']" style="margin: 10px;">La Cedula debe tener
            maximo 10 caracteres.</p>
        </ion-text>

        <!-- TELEFONO -->
        <ion-item>
          <ion-input label="Digite el número telefonico" label-placement="floating" fill="solid"
            placeholder="Número telefonico" formControlName="telefono" [(ngModel)]="usuario.telefono"></ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="formGroupRegistro.get('telefono')?.invalid && formGroupRegistro.get('telefono')?.touched">
          <p *ngIf="formGroupRegistro.get('telefono')?.errors?.['required']" style="margin: 10px;">Telefono es
            requerido.</p>
          <p *ngIf="formGroupRegistro.get('telefono')?.errors?.['minlength']" style="margin: 10px;">El telefono debe
            tener al menos 10 caracteres.</p>
          <p *ngIf="formGroupRegistro.get('telefono')?.errors?.['maxLength']" style="margin: 10px;">El telefono debe
            tener maximo 10 caracteres.</p>
        </ion-text>

        <!-- NOMBRE -->
        <ion-item>
          <ion-input label="Digite nombre completo" label-placement="floating" fill="solid" placeholder="nombre"
            formControlName="nombre" [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="formGroupRegistro.get('nombre')?.invalid && formGroupRegistro.get('nombre')?.touched">
          <p *ngIf="formGroupRegistro.get('nombre')?.errors?.['required']" style="margin: 10px;">Nombre es requerido.
          </p>
        </ion-text>





        <!-- CIUDAD -->
        <ion-item>
          <ion-select label="Ciudad" placeholder="Selecciona la ciudad" formControlName="ciudad">
            <ion-select-option value="Cali">Cali</ion-select-option>
            <ion-select-option value="Bogotá">Bogotá</ion-select-option>
            <ion-select-option value="Medellín">Medellín</ion-select-option>
            <ion-select-option value="Otra">Otra</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="formGroupRegistro.get('ciudad')?.value === 'Otra'">
          <ion-input formControlName="otraCiudad" label="Otra ciudad" placeholder="Escribe el nombre de la ciudad">
          </ion-input>
        </ion-item>


        <!-- FOTO -->
        <ion-item>
          <ion-label>Subir Fotos de galeria:</ion-label>
          <ion-buttons slot="end">
            <label for="carga-archivo">
              <ion-icon slot="icon-only" name="image-outline"></ion-icon>
            </label>
            <!-- ABRIR EXPLORADOR DE ARCHIVOS/GALERIA PARA CARGAR LAS FOTOS -->
            <input type="file" accept="image/*" style="display: none;" id="carga-archivo"
              (change)="subirFotoCrearReporte($event)">
          </ion-buttons>
          <br><br>
          <img src="{{usuario.foto}}" alt="">
        </ion-item>
        




        <ion-button type="submit" [disabled]="formGroupRegistro.invalid">Continuar</ion-button>
      </form>




    </ion-card-content>
  </ion-card>
</ion-content>